// هنا الملف ده ضفناه في الهاك عشان ده مجرد تعديل علي الصفحة دي يعني احنا معملناش ملف تنسيقات كامل للصفحة وحطيناه فيه مع العلم ان ده مش غلط بس ده تنسيق بسيط لتعديل صغير في الصفحة .
.c-upload + .c-form__controls {
    // هنا حددنا الفورم كنترولز من خلال علامة الزائد دي اللي بتقول انها اخت العنصر اللي قبلها 
    width: 500px;
    margin-right: spacing("wide");
}

@media (max-width:$bp-desktop-small) {
    .c-form {
        flex-wrap: wrap;
    }
    .c-upload + .c-form-controls {
        margin-right: 0;
    }
}