<head><script defer src="/app.js"></script><link href="/assets/css/style.css" rel="stylesheet"></head><ul class="c-actions">
    <li class="c-action">
        <span class="c-action__title">10 طلبات تحتاج المعالجة</span>
        <a href="" class="c-btn c-action__link">مشاهدة الطلبات</a>
    </li>
    <li class="c-action">
        <span class="c-action__title">5 رسائل تحتاج الاجابة</span>
        <a href="" class="c-btn c-action__link">مشاهدة الرسائل</a>
    </li>
    <li class="c-action">
        <span class="c-action__title">3منتجات ضرورية علي وشك النفاذ</span>
        <a href="" class="c-btn c-action__link">مشاهدة المنتجات</a>
    </li>
</ul>
<ul class="c-actions c-actions--oneline">
    <li class="c-action">
        <span class="c-action__title">10 طلبات تحتاج المعالجة</span>
        <a href="" class="c-btn c-action__link">مشاهدة الطلبات</a>
    </li>
    <li class="c-action">
        <span class="c-action__title">5 رسائل تحتاج الاجابة</span>
        <a href="" class="c-btn c-action__link">مشاهدة الرسائل</a>
    </li>
    <li class="c-action">
        <span class="c-action__title">3منتجات ضرورية علي وشك النفاذ</span>
        <a href="" class="c-btn c-action__link">مشاهدة المنتجات</a>
    </li>
</ul>
