<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>summary Component's page</title>
    <script type=text/html src="{require('../index.js')}"></script>
<script defer src="/app.js"></script><link href="/assets/css/style.css" rel="stylesheet"></head>
<body>
    <div class="component-continer">
        <div class="c-summary">
            <div class="c-summary__data">
                <span class="c-summary__value">
                    34
                </span>
                <span class="c-summary__key">
                    طلب
                </span>
            </div>
            <div class="c-summary__data">
                <span class="c-summary__value">
                    1343
                </span>
                <span class="c-summary__key">
                    زائر
                </span>
            </div>
            <div class="c-summary__data">
                <span class="c-summary__value">
                    $4324
                </span>
                <span class="c-summary__key">
                    مبيعات
                </span>
            </div>
        </div>
    </div>
</body>
</html>