<head><script defer src="/app.js"></script><script defer src="/assets/js/tabs.js"></script><link href="/assets/css/style.css" rel="stylesheet"></head><div class="c-tabs js-tabs">
    <div class="c-tabs__control">
        <span class="c-tabs__tab js-tab-link is-active" data-index="orders">طلبات بحاجة لمراجعة</span>
    <!-- is-active الاصناف الدالة علي الحالة زي الصنف ده مفيش مشكلة لو استخدمناه في جافا سكريبت و سي اس اس -->
                                <!-- ده صنف حنستخدمه في js بس -->
        <span class="c-tabs__tab js-tab-link" data-index="products">منتجات علي وشك النفاذ</span>
        <span class="c-tabs__tab js-tab-link" data-index="clients">زبائن جدد</span>
    </div>
    <div class="c-tabs__content">
        <div class="c-tabs__tabarea js-tab-area is-active" data-indexed="orders">
            <div>tab1</div>
        </div>
        <div class="c-tabs__tabarea js-tab-area" data-indexed="products">
            <div>tab2</div>

        </div>
        <div class="c-tabs__tabarea js-tab-area" data-indexed="clients">
            <div>tab3</div>
        </div>                    

    </div>
</div>
