// هنا بقي حنعمل دالة تحتوي علي مساحات مختلفة باحجام مختلفة حيث ان كل عنصر عندنا في الصفحة ليه مارجين مختلفة وبادينجز مختلفة فهنا يعتبر المكان الخاص بالتخصيص الاحجام
// في الاول عملنا متغير ليه اسم وحطينا ليه قيم معينة مختلفة باسماء مختلفة وكل قيمة معتمدة علي الضرب في المتغير اللي احنا عملناه قبل كدة
//والهيكلية اللي عملنا بيها المتغير ده اسمها خريطة شبة المصفوفات كدة والهدف بتاع الهيكلية دي اني اسند عدة مفاتيح لعدة قيم مختلفة
// وبعد كدة حنعمل دالة ليها اسم وحيكون ليها معامل والمعامل ده هو المتغير او المفتاح اللي موجود في الخريطة بحيث لما نستدعي المفتاح بتاع كل قيمة يرجعلنا القيمة بتاعته
$spacing-data:(
    none:0,
    extra-small: $space-unit * 0.625,
    base:$space-unit,
    small: $space-unit * 1.25 ,
    normal: $space-unit * 2,
    wide: $space-unit * 3 ,
    extra-wide: $space-unit * 5 ,
);

@function spacing($variant:base){
    // هنا تسهيلا علي المطور لو استدعي الدالة ومش عايز يمرر ليها معامل معين هو كدة كدة حيستدعي المفتاح بيس اي حيستخدم القيمة 16px
    $fetched-value : map-get($spacing-data,$variant);
    // يعني الدالة جيت ماب دي هي الاساس يعني كأني بقول ان المفتاح بتاع الدالة اللي فوق دي هو المعامل فارينت 
    @if type-of($fetched-value) == number {
        @return $fetched-value;
    }@else
    {
        @error "spacing variant not found"
    }
};

//  @function spacing($variant){
//  $fetched-value : map-get($spacing-data,$variant);
//      @return $fetched-value
//  };
// هنا الدالة دي باختصار انا ادتلها اسم وادتلها معامل من عندي وبعد كدة عملت متغير واستخدمت الدالة ماب جيت اللي حتجيبلي قيمة المفتاح من السباسينج داتا 
// وقولتله يروح للماب دي ويجيب المفتاح اللي بنعبر عنه بالمعامل فارينت
// المعامل بتاع الدالة هو اللي بيشتغل وبيخدم الدالة عشان يعبر عن القيم
