<div class="c-banner">
    <h3 class="c-banner__title">بوابة الدفع عبر بايونير متاحة !</h3>
    <p class="c-banner__desc">تم إضافة بوابة الدفع عبر بايونير لكل متاجر عربي، تستطيع ربط حسابك في بايونير لتستقبل الأموال عبرها.</p>
    <a href="#" class="c-btn c-btn--ghost c-banner__action">اكتشف المزيد</a>
    <!-- حنستخدم موقع icomoon  عشان نجيب الايقونات عشان احنا عايزين ايقونات خاصة بينا ليها كلاسات بتبدأ بالسي وده متاح في الموقع ده اني اقدر احدد الكلاس اللي عايزه للايقونة -->
    <!-- بعد كدة حنحدد الايقونات كلها اللي عايزنها من الموقع بعد كدة ننزلها بعد ما نحدد اعداداتها من خلال الريفرنس  -->
    <!-- حتنزل عبارة عن ملف مضغوط حنفك ضغطه في ملف الفيندورز داخل ملف تاني اسمه ايكونز مثلا عشان ملف الفيندورز ده المسئول عن المكتبات الخارجية -->
    <!-- بعد كدة حنعمل نسخة من ملف الخطوط اللي بيكون فيه الايقونات اللي نزلناها وملف السي اس اس الخاص بيه وملف الفاريبولز الخاص بيهم -->
    <!-- وناخدهم كوبي في حته تانية مثلا في ملف الكومبوننتس الخاص بالساس داخل ملف ايكونز تاني مثلا عشان نعدل فيه براحتنا بعيدا عن الملف الاصلي  -->
    <!-- بعد كدة حنحدد المتغير اللي بيتم حفظ الايقونات فيه ونديله الباس بتاعه بس في ملف الفاريبولز بتاعنا -->
    <!-- بعد كدة نستدعي الايقونات -->
    <!-- والكلاسات اللي استعناهم بيها هي اللي احنا حددناها علي الموقع بس الكلاس التاني بنكون محددين لحد -- -->
    <i class="c-icon c-icon--flag c-banner__icon"></i>
    <i class="c-icon c-icon--cancel-circle c-banner__close"></i>

</div>
  
