.page-header {
    display: flex;
    align-items: baseline;
    margin: spacing("wide") 0;
    & .c-btn {
        margin: 0 spacing();
    }

    & .c-btn:first-of-type {
        // استخدمنا هنا فرست اوف تايب بدل فرست شايلد عشان فرست شايلد في الديف اللي احنا فيها دي هو العنوان لكن احنا عايزين اول زرار من الزراريرن
        margin: spacing("wide");
    }
}

// والتنسيقات دي عامة لكل الصفحات ماعدا الصفحة الرئيسية فحنستدي الصنف ده في كل صفحة حنعملها بعد كدة 